@import './styles/tokens.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-sistema);
  background-color: var(--cor-fundo);
  color: var(--cor-texto-primario);
  line-height: 1.6;
}

/* Removemos a margem global de h1-h6
   para dar mais controle aos componentes
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
