@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Trava a rolagem na "mesa" */
  background-color: #000; /* Fundo preto caso alguma imagem demore a carregar */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilização opcional da barra de rolagem DENTRO do celular */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 69, 19, 0.6); /* Tom madeira */
  border-radius: 2px;
}
